body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
}

h1{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style: none;
    margin: 5px;
    display: flex;    
    gap: 15px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: #1f2937;
}

.landscape{
    width: 500px;
    height: 250px;
    flex: 0 1 auto;
}

.lefthand{
    width: 500px;
    height: 250px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h2{
    color: #f9f9f8;
    font-size: 48px;
    font-weight:bolder;
}

.hero p{
    color: #e5e7eb;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    color:#e5e7eb;
    flex: 0;
    width: 100px;
    height: 65px;
    border-radius: 5px;
}

.random{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.img-stack{
    display: flex;
    flex-direction: column;
    flex-grow:0;
    flex-shrink:1;
    height: 350px;
    width: 250px;
}